<!--<div id="brandData" data-brands="<%##= @service.brands.to_json %>"></div>-->

<%= render 'sublayout' do %>
  <% @brands.each.with_index do |brand, brand_index| %>
    <!-- brand / variants -->
    <% brand.variants.each.with_index do |variant, variant_index| %>
      <% variant.prices.each.with_index do |variant_price, pricing_index| %>
        <% variant_item = variant_price.items.first %>

        <tr>
          <% if pricing_index.zero? %>
            <% if variant_index.zero? %>
              <!-- # -->
              <th rowspan="<%= brand.rowspan %>"><%= brand_index + 1 %></th>

              <!-- 브랜드 -->
              <th rowspan="<%= brand.rowspan %>"><%= brand.name %></th>
            <% end %>

            <!-- 상품명 -->
            <td rowspan="<%= variant.prices.count %>">
              <span><%= variant_item.title %></span>
              <small class="d-block text-muted">[SKU: <b><%= variant_item.sku || '-' %></b> / Variant ID: <b><%= variant.id %></b>]</small>
              <p class="d-block" style="margin: 0">
                <% if variant.prices.count > 1 %>
                  <small class="badge badge-info"># 다중가격</small>
                <% end %>
              </p>
            </td>
          <% end %>

          <!-- 판매가 -->
          <td class="text-right text-nowrap"><%= currency_format(variant_price.price, unit: 'VND') %></td>

          <!-- 주문건수 -->
          <td class="text-right text-nowrap"
              data-toggle="modal" data-target="#order-list-modal"
              data-variant_title="<%= variant_item.title %>"
              data-sku="<%= variant_item.sku %>"
              data-variant_id="<%= variant.id %>"
              data-variant_price="<%= variant_price.price %>"
              data-orders="<%= variant_price.items.to_json %>"><%= variant_price.total.orders.count %> 건</td>

          <!-- 합계수량 -->
          <td class="text-right text-nowrap"><%= unit_format(variant_price.total.quantity) %></td>

          <!-- 합계금액 -->
          <td class="text-right text-nowrap"><%= currency_format(variant_price.total.price, unit: 'VND') %></td>
        </tr>
      <% end %>
    <% end %>


    <!-- brand / total -->
    <tr>
      <td class="table-warning" colspan="2">총 계</td>

      <!-- 주문건수 -->
      <td class="table-warning text-nowrap text-right" data-toggle="modal" data-target="#order-list-modal"><%= brand.total.orders.count %> 건</td>

      <!-- 합계수량 -->
      <td class="table-warning text-nowrap text-right"><%= unit_format(brand.total.quantity) %></td>

      <!-- 합계금액 -->
      <td class="table-warning text-nowrap text-right"><%= currency_format(brand.total.price, unit: 'VND') %></td>
    </tr>
  <% end %>
<% end %>

<%= console if Rails.env == 'development' %>
